<app-navbar></app-navbar>

<div class="home-container">
    <div class="main-content animate__animated animate__fadeInUp">

        <div class="main-content animate__animated animate__fadeInUp">
            <div class="thumb-container">
                <img src="../assets/foto.png" alt="Profile image" class="thumb-image">
            </div>
        </div>

        <div class="text-container">
            <p>Professional resume</p>
            <p>Web developer with experience in designing, developing, and maintaining responsive and dynamic websites. 
              Proficient in a range of programming languages. Adept at utilizing frameworks such as React and Angular to create efficient 
              and modern digital solutions. Demonstrated commitment to delivering high-quality projects while ensuring functionality, usability, 
              and security standards. Strong problem-solving skills and a collaborative approach to working with cross-functional teams.</p>
        </div>
    </div>


<div>
    <div>
        <div id="skills-section" class="skills-section animate__animated animate__fadeInUp">
          <p style="font-size: 25px;color:#154360 ;">My Skills</p>
        </div>
        <div class="card-container">
          <mat-card class="example-card">
            <mat-card-header class="row align-items-center">
              <p style="color:#154360 ;">Angular</p>
      
            </mat-card-header>
            <img mat-card-image src="../assets/angular2.png" alt="Image">
            <mat-card-content>
              <p>Helps developers build dynamic, single-page web applications.</p>
            </mat-card-content>
            <button>Know More..</button>
          </mat-card>
      
          <mat-card class="example-card">
            <mat-card-header class="row align-items-center">
              <p style="color:#154360 ;">ReactJS</p>
            </mat-card-header>
            <img mat-card-image src="../assets/react2.png" alt="Image">
            <mat-card-content>
              <p>JS library for building user interfaces, particularly for SPA's.</p>
            </mat-card-content>
            <button>Know More..</button>
          </mat-card>
      
          <mat-card class="example-card">
            <mat-card-header class="row align-items-center">
              <p style="color:#154360 ;">VueJS</p>
            </mat-card-header>
            <img mat-card-image src="../assets/vue.png" alt="Image">
            <mat-card-content>
              <p>JS framework for creating single-page applications.</p>
            </mat-card-content>
            <button>Know More..</button>
          </mat-card>
      
      
      
        </div>
      </div>
</div>

</div>


<app-footer></app-footer>